<server description="Sample Liberty server">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonb-1.0</feature>
        <feature>cdi-2.0</feature>
        <feature>mpHealth-2.0</feature>
        <feature>jpa-2.2</feature>
        <feature>jndi-1.0</feature>
<!--
        <feature>mpMetrics-2.0</feature>
        <feature>mpConfig-1.3</feature>
-->
    </featureManager>

    <dataSource id="DefaultDataSource"> 
        <jdbcDriver libraryRef="postgresLib"/>
        <connectionManager agedTimeout="5s" reapTime="5s" />
        <properties serverName="${PG_HOST}" 
                    portNumber="${PG_PORT}"  
                    user="${PG_USER}" 
                    password="${PG_PASS}" 
                    databaseName="${PG_DBNAME}"/>
    </dataSource>
    
    <library id="postgresLib">
        <file name="${server.config.dir}/resources/postgresql.jar"/>
    </library>

    <webApplication location="demo-project.war" contextRoot="/" />

    <httpEndpoint host="*" httpPort="9080" 
        httpsPort="9443" id="defaultHttpEndpoint"/>
</server>